<h1>Editing album</h1>

<% form_for(@album ,:html=>{:multipart=>true}) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label 'photo','photo'%>
    <%= f.file_field 'photo'%>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @album %> |
<%= link_to 'Back', albums_path %>