<h1>Editing product</h1>

<% form_for(@product) do |f| %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
	<%=clear_error_message_on 'product','title','标题','结尾' %>
  </p>
  <p>
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </p>
  <p>
    <%= f.label :imge_url %><br />
    <%= f.text_field :imge_url %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>