<p>
  <b>Title:</b>
  <%=h @product.title %>
</p>

<p>
  <b>Desc:</b>
  <%=h @product.desc %>
</p>

<p>
  <b>Imge url:</b>
  <%=h @product.imge_url %>
</p>

<p>
  <b>Price:</b>
  <%=h @product.price %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>